PORT=5000
NODE_ENV=development

# Database connection
DATABASE_URL=postgresql://postgres:postgres@172.18.72.251:5432/reachinbox_db?schema=public

# Redis connection
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# Elasticsearch connection
ELASTICSEARCH_NODE=http://127.0.0.1:9200

# Worker and Rate Limiting
WORKER_CONCURRENCY=5
MIN_DELAY_BETWEEN_EMAILS_MS=2000
MAX_EMAILS_PER_HOUR=200
MAX_EMAILS_PER_HOUR_PER_SENDER=50

# Slack Integration (OAuth & Incoming Webhook)
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_REDIRECT_URI=http://localhost:5000/api/slack/callback
FRONTEND_URL=http://localhost:5173

# Optional custom SMTP credentials (defaults to dynamic Ethereal Email test accounts)
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
